<div class="mdc-form-field">
  <div class="mdc-radio">
    {% include "material_widgets/widgets/material_input.html" with class="mdc-radio__native-control" tooltip=widget.help_text %}
    <div class="mdc-radio__background">
      <div class="mdc-radio__outer-circle"></div>
      <div class="mdc-radio__inner-circle"></div>
    </div>
  </div>
  {% if widget.label %}
  <label{% if widget.attrs.id %} for="{{ widget.attrs.id }}"{% endif %}{% if widget.help_text %} title="{{ widget.help_text }}"{% endif %}>{{ widget.label }}</label>
  {% endif %}
</div>

